.menu{
    height: 100vh;
    min-height: 100vh;
    padding: 40px;
    &__header{
        display: flex;
        justify-content: space-between;
        padding: 0px 60px;
    }
    &__container{
        display: flex;
        flex-wrap: wrap;
        margin-top: 45px;
        justify-content: center;
    }
}