.login{
    align-items: center;
    text-align: center;
    height: 100vh;
    &__content{
        padding: 20px;
        height: 70vh;
        width: 320px;
        margin: 20px auto;
    }
    &__image{
        display: none;
    }
    &__form{
        justify-content: center;
    }
}
@mixin mg($x) {
    margin-top: $x;
  }
.mg-0{
    @include mg(0)
}
.mg-2{
    @include mg(2)
}
.mg-30{
    @include mg(30px)
}
.mg-24{
    @include mg(24px)
}
.mg-58{
    @include mg(58px)
}

@media (min-width: 48rem){
    .login{
    &__image{
        display: block;
    }
}
}