$primary-color: #ED06B2;
$secondary-color: #C054F2;
$terciary-color: #c3bcbc;


.section{
    padding: 60px 12px;
    &__header{
        display: flex;
        flex-direction: column;
    }
    &__container{
        display: flex;
        flex-wrap: wrap;
        margin-top: 45px;
        justify-content: flex-start;
    }
    &__stepBox{
        display: none;
        &--movil{
            margin: 20px 15px;
            padding: 20px;
        }
    }
    &__menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
        &--burger{
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: 20px;
        }
        &--button{
            position: absolute;
            top: 64px;
            right: 27px;
        }
        
    }
    &__search{
        width: 12em;
        height: 1em;
        cursor: pointer;
        background-color: transparent;
        border-radius: 0.2em;
        box-shadow: 0 0 0 0.03em $terciary-color inset;
        padding: 0.75em;
        transform: translate(0.5em,0.5em);
        position: relative;
        &:focus{
            outline: transparent;
        }
        &-input{
            padding: 0px 35px;
            width: 100%;
            height: 100%;
        }
        &-icon{
            position: absolute; 
            margin-right: 9px;
            margin-top: -23px;
        }
    }
}
.w-100{
    width: 100%;
}

@media (min-width: 48rem){
    .section{
        padding: 60px 80px;
        &__stepBox{
            display: block;
            margin: 20px 0px;
            padding: 40px;
            &--movil{
                display: none;  
            }
        }
        &__header{
            flex-direction: row;
            justify-content: space-between;
            }
        &__search{
            margin-right: 28px;
        }
        &__menu{
            &--button{
                position: static;
                margin-top: 0px;
            }
        }
}
}